body, p{
	margin: 0 auto;
}
h1{
	text-align: center;
}
input, p, button{
	margin: 0 auto;
	margin-top: 10px;
}
button, input[type="submit"]{
	width: 180px;
}
a{
	color: black;
	text-decoration: none;
}
input, button{
	padding: 5px;	
}
label, input{
	display: block;
}
form, main{
	width: 180px;
	margin: 0 auto;
}
::-webkit-input-placeholder{
	color: black;
}